*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #93628F;
}

.background-container{
    width: 1000px;
    margin: 50px auto;
}

h1{
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
}
